<form action="/new" method="POST" class="card bg-black text-light">
  <div class="card-body p-4">
    <h1 class="h5 mb-4">Add Contact</h1>

    <div class="mb-3">
      <label for="nombres">Escribe tu nombre</label>
      <input
        type="text"
        name="nombres"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="nombres"
        autofocus
      />
    </div>

    <div class="mb-3">
      <label for="apellidos">Escribe tus apellidos</label>
      <input
        type="text"
        name="apellidos"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="apellidos"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="fecha_nacimiento">Escribe tu fecha de nacimiento</label>
      <input
        type="date"
        name="fecha_nacimiento"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="fecha de nacimiento"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="lugar_nacimiento">Escribe tu lugar de nacimiento</label>
      <input
        type="text"
        name="lugar_nacimiento"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="lugar de nacimiento"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="sexo">Indique su sexo:</label>
      <input
        type="text"
        name="sexo"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="sexo"
        autofocus
      />
    </div>

    <div class="mb-3">
      <label for="titulo">Escribe su titulo profesional</label>
      <input
        type="text"
        name="titulo"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="titulo"
        autofocus
      />
    </div>

    <button class="btn btn-primary">Save</button>
  </div>
</form>
