{% extends "layout.html" %} {% block body %}

<div class="col-md-4 offset-md-4">
  <div class="card card-body bg-dark text-white">
    <h1>Actualizar Usuario</h1>

    <form action="{{url_for('contacts.actualizar', id=contact.id)}}" method="POST">
      <div class="mb-3">
        <label for="nombres">Escribe tu nombre:</label>
        <input
          type="text"
          name="nombres"
          value="{{contact.nombres}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="apellidos">Escribe tus apellidos:</label>
        <input
          type="text"
          name="apellidos"
          value="{{contact.apellidos}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="fecha_nacimiento">Escribe tu fecha de nacimiento:</label>
        <input
          type="date"
          name="fecha_nacimiento"
          value="{{contact.fecha_nacimiento}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="lugar_nacimiento">Escribe lugar de nacimiento:</label>
        <input
          type="text"
          name="lugar_nacimiento"
          value="{{contact.lugar_nacimiento}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="sexo">Indique su sexo:</label>
        <input
          type="text"
          name="sexo"
          value="{{contact.sexo}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="titulo">Escribe tu titulo profesional:</label>
        <input
          type="text"
          name="titulo"
          value="{{contact.titulo}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>

      <button class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

{% endblock %}