{% extends 'layout.html' %}

{% block title %}
CRUD Python-Flask SQLAlchemy  | Actualizar 
{% endblock %}

{% block body %}

<form action="/actualizar/{{contact.id}}" method="POST">

  <input type="text" name="nombres" placeholder="Escriba su nombre" value="{{contact.nombres}}"/>
  <input type="text" name="apellidos" placeholder="Escriba su apellidos" value="{{contact.apellidos}}"/>
  <input type="date" name="fecha_nacimiento" placeholder="Escriba su fecha_nacimiento" value="{{contact.fecha_nacimiento}}"/>
  <input type="text" name="lugar_nacimiento" placeholder="Escriba su lugar_nacimiento" value="{{contact.lugar_nacimiento}}"/>
  <input type="text" name="sexo" placeholder="Escriba su sexo" value="{{contact.sexo}}"/>
  <input type="text" name="titulo" placeholder="Escriba su titulo" value="{{contact.titulo}}"/>
  <button>Guardar</button>

</form>

{% endblock %}